
<section class="middle-part category-page">
    <div class="container">
      <div class="row">

          <div class="col-lg-12">
            <div class="main-cate-head text-center">
              <h2>Categories</h2>
            </div>
              <div class="min-category-page">
                  <div class="row row-one pb-0">
                        <div  class="col-xl-3  col-lg-4 col-6" *ngFor="let cate of categoriesAllData.categories;let i = index" >
                        <div class="col-lg-12" (click)="showTopic(i)" >
                          <a href=""  routerLink="/category-listing/{{cate.id}}">{{cate.name | titlecase}} ({{cate.total_slides}})</a>
                        </div>
                    </div>
                    
                  </div>
              </div>
          </div>

        <div class="col-lg-6 col-md-6">
          <div class="right-logo pulse">
            <img src="assets/images/logo2.png" width="100%" alt="logo 2">
          </div>
          <div class="right-text"> “{{categoriesAllData?.info?.subTitle }}.” </div>
           </div>
        <div class="col-lg-6 col-md-6">
          <div class="right-box ">
            <div class="top-hadding">
              <div class="box-title" id="homePageTextBoardHeading">{{categoriesAllData?.info?.content }}…</div>
            </div>
            <div class="overflow categoies-scroller scroller">
              <div id="homePageTextBoard">
                <div class="row_one bounceInLeft" *ngFor="let topCat of categoriesAllData.top_categories;let i = index"  
                [ngClass]="i % 2 ? 'row_two bounceInRight' : 'row_one bounceInLeft'"><span class="cate-no">{{i+1}}.</span> {{topCat.content}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>      
  </section>