
<section class="middle-part category-page">
    <div class="container">
      <div class="row">

          <div class="col-lg-12">
            <div class="main-cate-head text-center">
              <h2>Categories</h2>
            </div>
              <div class="min-category-page">
                  <div class="row row-one pb-0">
                        <div  class="col-xl-3  col-lg-4 col-6" *ngFor="let cate of categoriesAllData.categories;let i = index" >
                        <div class="col-lg-12" (click)="showTopic(i)" >
                          <a href=""  routerLink="/category-listing/{{cate.id}}">{{cate.name | titlecase}} ({{cate.total_slides}})</a>
                        </div>
                    </div>
                    
                  </div>
              </div>
          </div>
        </div>

          <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="right-logo">
            <img src="assets/images/logo2.png" width="100%" alt="logo 2">
          </div>
          <div class="right-text"> “{{categoriesAllData?.info?.subTitle }}.” </div>
           </div>
        <div class="col-lg-6 col-md-6">
          <div class="right-box ">
            <div class="top-hadding">
              <div class="box-title" id="homePageTextBoardHeading">{{categoriesAllData?.info?.content }}…</div>
            </div>
            <div class="overflow categoies-scroller scroller">
              <!-- <div id="homePageTextBoard">
                <div class="row_one" *ngFor="let topCat of categoriesAllData.top_categories;let i = index"  
                [ngClass]="i % 2 ? 'row_two ' : 'row_one'"><span class="cate-no">{{i+1}}.</span> {{topCat.content}}</div>
              </div> -->
              <div id="homePageTextBoard" class="text-center">
                <div class="row_one">202 One-Day Soft Skills Course Plans</div>
                <div class="row_two ">202 Course Topics</div>
                <div class="row_one ">993 One-Minute Tips</div>
                <div class="row_two ">800 Soft Skills Course Exercises</div>
                <div class="row_one ">500 Soft Skills Worksheets</div>
                <div class="row_two ">202 Self-assessment forms</div>
                <div class="row_one ">202 Presentations in the Professional Development Programme</div>
                <div class="row_two ">200 Icebreaker exercises</div>
                <div class="row_one ">40 Ready-to-use Teambuilder games</div>
                <div class="row_two ">350 Stories that Coach</div>
                <div class="row_one ">... and Many More</div>
            </div>
            </div>
          </div>
        </div>
      
      </div>
     </div>      
  </section>