/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Poppins";
    background: url(assets/images/body_bg.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
    font-size: 16px;
    position: relative;

    -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
       user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.errors-1 {
    color: #ff3925;
    margin-bottom: 8px;
    text-shadow: 0 0 #fd6969;
}

nav li a {
    margin-left: 1.5rem;
    color: #070e20 !important;
}

nav li a.active {
    color: #f74f22 !important;
    font-weight: 600;
    border-bottom: 2px solid;
}

nav {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

nav a.button {
    background: #f74f22;
    color: #fff !important;
    font-weight: 500;
    padding: 10px 20px !important;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
}

nav a.button img {
    width: 12pt;
    height: 12pt;
    margin-left: 10px;
    margin-top: 3px;
}

nav .navbar-toggler {
    border: none;
}

nav .navbar-toggler:focus {
    box-shadow: none;
}

header {
    background: #038b87;
    background-repeat: repeat-x;
    background-size: auto 100%;
    border-bottom:5px solid #bbdb9e;
    padding:12px 0;
}

.top-logo {

}

.top-logo img {
    width: 100%;
}

footer {
    background: #038b87;
    background-size: auto 100%;
    border-top:5px solid #bbdb9e;
    padding: 12px 0;
}

app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.footer-inner-text {
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 0px 0px;
    line-height: 40px;
}

.middle-part {
    color: #fff;
    width: 100%;
    padding:50px 0px;
}

.right-logo {
    height: auto;
    text-align: center;
}

.right-box {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    background: #076564;
    -webkit-box-shadow: inset -1px -5px 74px -11px rgba(56, 56, 56, 1);
    -moz-box-shadow: inset -1px -5px 74px -11px rgba(56, 56, 56, 1);
    box-shadow: inset -1px -5px 74px -11px rgba(56, 56, 56, 1);
}

.overflow {
    height: 630px;
}

.scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
}

.row_one {
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
}

.cate-no {
    display: inline-block;
    padding-right: 16px;
}

.right-text {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #015855;

}

.homePageTextBoard {
    padding: 10px 0px 10px 10px;
}

.box-1 {
    padding: 9px;
    background: #9d8bd7;
    text-align: center;
    width: 14%;
}

.box-2 {
    padding-left: 10px;
    font-weight: 400;
    color: #2a1b49;
}

.box-title {
    background: #f0c32c;
    padding: 20px;
    border-bottom:5px solid #015855;
    color: #463300;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/* .box-title a {
    color: #000;
    font-weight: 800;
    font-size: 17px;
    padding: 0px;
    margin: 0px;
} */


.row_two {
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    background-size: 100% 100%;
    background: #00bbba;
    -webkit-box-shadow: inset -1px -5px 74px -11px rgba(56, 56, 56, 1);
    -moz-box-shadow: inset -1px -5px 74px -11px rgba(56, 56, 56, 1);
    box-shadow: inset -1px -5px 74px -11px rgba(56, 56, 56, 1);

}


.right-btn .btn,
.ineer-popup-close-btn .btn,
.popup-btn .btn {
    background-image: url(assets/images/btn-bg-new.png);
    background-repeat: no-repeat;
    background-size: 100% 70px;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    height: 70px;
    width: 321px;
    color: #fff;
    text-shadow: 2px 2px #976868;
    position: relative;
    line-height: 44px;
}


.right-btn .btn:before,
.ineer-popup-close-btn .btn:before,
.popup-btn .btn:before {
    background-image: url(assets/images/btn-bg-left.png);
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: 0px;
    left: -34px;
    width: 34px;
    height: 70px;
    background-size: 34px 70px;
}

.right-btn .btn:after,
.ineer-popup-close-btn .btn:after,
.popup-btn .btn:after {
    background-image: url(assets/images/btn-bg-right.png);
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: 0px;
    left: 99%;
    width: 33px;
    height: 70px;
    background-size: 33px 70px;
}

.popup-btn {
    width: 100%;
    float: left;
    text-align: center;
}

.popup-btn .btn {
    font-size: 20px;
    margin-bottom: 15px;
}


.btn-1 {
    padding: 25px 0px 20px;
}

.right-btn {
    padding-left: 32px;
}

.scroller {
    width: 100%;
    height: 570px;
    overflow-y: scroll;
    scrollbar-color: #076564 #076564;
    scrollbar-width: thin;
}
.ng2-pdf-viewer-container{
    overflow-x: hidden !important;
}

.tooltip .tooltip-inner{
    background-color: #076564;
    color: #fff;
    font-size: 14px;
  
}
.tooltip{
    opacity: 1 !important;
}
.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #076564 !important;
}

.pdfViewer .page canvas{
    padding-right:12px; 
  }
.scroller {
    scrollbar-width: thin;
    scrollbar-color: #076564 #076564;
}
.ng2-pdf-viewer-container::-webkit-scrollbar,
body::-webkit-scrollbar,
.scroller::-webkit-scrollbar {
    width: 12px;
}
.ng2-pdf-viewer-container::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.scroller::-webkit-scrollbar-track {
    background: #076564;

}
.ng2-pdf-viewer-container {
    overflow-x: hidden !important;
}
.ng2-pdf-viewer-container::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.scroller::-webkit-scrollbar-thumb {
    background-color: #f0c32c;
    border-radius: 20px;
    border: 2px solid #076564;
}

form.search-in input[type=text]::placeholder{
    color: #015855;
}
form.search-in input[type=text] {
    padding: 10px 10px 10px 20px;
    font-size: 18px;
    border: 2px solid #000;
    float: left;
    width: 85%;
    background: #fff;
    border-radius: 27px 0px 0px 27px;
    color: #015855;
    font-weight: 600;
    height: 49px;
    background: #a7d7d5;
    box-shadow: inset 0px 0px 4px rgb(0 0 0 / 40%);
}

.header-categories input:focus {
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}


form.search-in button {
    float: left;
    width: 15%;
    padding: 5px;
    background: #015855;
    color: #bbdb9e;
    font-size: 24px;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 27px 27px 0px;
    height: 49px;
    border: 2px solid #000;
    transition: all .5s;
    border-left: 0;
}

form.search-in button:hover {
    background: #000;
    color: #bbdb9e;
}

form.search-in::after {
    content: "";
    clear: both;
    display: table;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #3e1560;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #3e1560;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #3e1560;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #3e1560;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #3e1560;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #3e1560;
}


.user_icon img {
    width: 100%;
}

.user_icon {
    width: 62px;
    position: relative;
    position: relative;
    margin-top: 0px;
    z-index: 1;
}
.header-categories{
    width: 386px;
}
.header-search,
.right-user-id{
    width: 237px;
}
.user_name{
    background: #015855;
    border-radius: 25px;
    border: 2px solid #000;
    height: 50px;
    line-height: 48px;
    color: #bbdb9e;
    box-shadow: inset 0px 0px 4px rgb(0 0 0 / 40%);
    text-align: start;
    font-size: 18px;
    font-weight:600;
    padding: 0 10px;
    margin-left: -60px;
    padding-left: 56px;
    position: relative;
    z-index: 0;
    top: 6px;
    padding-left: 70px;
}

.header-search a {
background: #015855;
    border-radius: 25px;
    border: 2px solid #000;
    height: 50px;
    line-height: 48px;
    color: #bbdb9e;
    box-shadow: inset 0px 0px 4px rgb(0 0 0 / 40%);
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight:600;
}

.header-search .option {
    padding: 0 30px 0 10px;
    min-height: 45px;
    display: flex;
    align-items: center;
    background: #c7b1ef;
    border-top: #000 solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;

}

.header-search .option:hover {
    background: #c7b1ef;
}


.header-search .select:focus .option {
    position: relative;
    pointer-events: all;
}

.header-search input {
    opacity: 0;
    position: absolute;
    left: -99999px;
}


.header-search input:checked + label {
    order: 1;
    z-index: 2;
    background: #c7b1ef;
    border-top: none;
    position: relative;
}


.header-search input:checked + label:after {
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid white;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}


.header-search input:checked + label:before {
    position: absolute;
    right: 0;
    height: 45px;
    width: 40px;
    content: '';
    background: #c7b1ef;
}


.categoies-scroller.scroller {
    height: 342px;
}
.cat-box-right img {
    width: 44px;
    height: 56px;
    object-fit: contain;
}
.min-category-page {
    width: 100%;
    height: auto;
    background: #038b87;
    border:2px solid #bbdb9e;
    margin-bottom: 24px;
    padding: 12px 15px;
}

.row-one {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
}

.row-one a {
    color: #fff;
    text-decoration: none;
}

.row-two {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
    color: #013e3c;
}

.row-two a {
    color: #013e3c;
    text-decoration: none;
}
right-logo pulse
.min-category-page h2 {
    font-size: 30px;
    color: #fff;
    font-weight:500;
    text-shadow: 1px 2px #015855;
}

.min-category-page a {
    cursor: pointer;
}

.min-category-page .row-one .col-xl-3:nth-child(34) a,
.min-category-page .row-one .col-xl-3:nth-child(33) a,
.min-category-page .row-one .col-xl-3:nth-child(32) a,
.min-category-page .row-one .col-xl-3:nth-child(30) a,
.min-category-page .row-one .col-xl-3:nth-child(27) a,
.min-category-page .row-one .col-xl-3:nth-child(25) a,
.min-category-page .row-one .col-xl-3:nth-child(24) a,
.min-category-page .row-one .col-xl-3:nth-child(22) a,
.min-category-page .row-one .col-xl-3:nth-child(19) a,
.min-category-page .row-one .col-xl-3:nth-child(17) a,
.min-category-page .row-one .col-xl-3:nth-child(16) a,
.min-category-page .row-one .col-xl-3:nth-child(14) a,
.min-category-page .row-one .col-xl-3:nth-child(11) a,
.min-category-page .row-one .col-xl-3:nth-child(9) a,
.min-category-page .row-one .col-xl-3:nth-child(8) a,
.min-category-page .row-one .col-xl-3:nth-child(6) a,
.min-category-page .row-one .col-xl-3:nth-child(3) a,
.min-category-page .row-one .col-xl-3:nth-child(1) a{
    color: #bbdb9e;
}
.min-category-page a.activea {
    color: #013e3c;
}

.min-category-page .row-one .col-xl-3 a:hover {
    color: #bbdb9e  ;
}

.middle-part.category-page {
    padding: 24px 0px;
}

.modal.settings-modal .modal-content {
    border-radius: 0px;
    background: #097575;
    padding: 5px;
    border-radius: 35px;
    border: 5px solid #fff;
}

.modal.settings-modal .modal-header {
    border-radius: 0px;
    color: #fff;
    padding: 10px;
    background-origin: 0px;
    ;
    border: 0px;
    position: relative;
}

.modal.settings-modal .modal-header h4 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    width: 100%;
    padding: 0px;
    text-shadow: 2px 2px #000;
}

.modal.settings-modal .modal-header h4 {
    font-weight: 700;
}

.btn-close.popup-close {
    opacity: 1;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: -28px;
    right: -28px;
}


.modal-inner-box.scroller {
    height: 400px;
    margin-top: 0px;
    background: #019f9e;
    background-size: 100% 100%;
    margin-bottom: 10px;
    padding-top: 30px !important;
}


.model-title table {
    width: 100%;
    margin-bottom: 10px;
}

.t-one {
    background: #076564;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0px;
    text-align: center;
    width: 10%;
}

.t-two {
    background: #097575;
    padding-left: 10px;
    color: #f7d131;
}
.pdf-btn button.previous{
    left:-64px;
}
.pdf-btn button.next{
    right:-64px;
}
.pdf-btn button img{
    width: 100%;
}
.pdf-btn button{
        background: transparent;
    border: 0;
    position: absolute;
    width:50px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-inner-box.scroller {
    overflow-y: scroll;
    scrollbar-color: #097575 #097575;
    scrollbar-width: thin;
    border-radius: 35px;
}


.modal-inner-box.scroller {
    scrollbar-width: thin;
    scrollbar-color: #097575 #097575;
    border-radius: 35px;
}

.modal-inner-box.scroller::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

.modal-inner-box.scroller::-webkit-scrollbar-track {
    background:transparent;
    margin-top: 6px;
    position: relative;
    right: 5px;
    border-radius: 5px;

}

.modal-inner-box.scroller::-webkit-scrollbar-thumb {
    background-color: #f0c32c;
    border-radius: 20px;
    border: 0px solid #097575;
    border-radius: 5px;
}

.thumbnail-title a {
    color: white
}

a {
    color: white;
    text-decoration: none;
}

.thumbnail-title {
    width: 100%;
    padding: 15px 0px 5px;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}

.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999999;
}

.loader:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
}

.error-msg {
    text-align: center;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main-cate-head h2 {
    text-align: center;
    background: #015855 ;
    border-radius: 25px 25px 0 0;
    padding: 10px 32px 8px;
    border:2px solid #000;
    display: inline-block;
    margin: auto;
    font-size: 18px;
    border-bottom: 0;
}

.modal-dialog {
    max-width: 450px;
}

.video-list {
    padding: 40px 0px;
}



.modal-inner-box .toggleSwitch {
    display: inline-block;
    height: 18px;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-left: 50px;
    cursor: pointer;
    width: 40px
}

.modal-inner-box .toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-inner-box .toggleSwitch label,
.modal-inner-box .toggleSwitch > span {
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
}

.modal-inner-box .toggleSwitch input:focus ~ a,
.modal-inner-box .toggleSwitch input:focus + label {
    outline: none;
}

.modal-inner-box .toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
}

.modal-inner-box .toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
}

.modal-inner-box .toggleSwitch > span {
    position: absolute;
    left: -50px;
    width: 100%;
    margin: 0;
    padding-right: 50px;
    text-align: left;
    white-space: nowrap;
}

.modal-inner-box .toggleSwitch > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 70px;
    text-align: left;
    font-size: 0.9em;
    width: 100%;
    left: 0;
    top: -1px;
    opacity: 0;
    margin-top: 3px;
}

.modal-inner-box .toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    height: 100%;
    padding: 0;
    left: -5px;
    top: -10px;
    width: 18px;
    background: url(assets/images/yallow-raund.png);
    background-size: 100% 100%;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.modal-inner-box .toggleSwitch > span span:first-of-type {
    color: #f7cf30;
    opacity: 1;
    left: 50%;
    padding-left: 5px;
}

.modal-inner-box .toggleSwitch > span:before {
    content: '';
    display: block;
    width: 120px;
    height: 44px;
    position: absolute;
    left: 50px;
    top: -2px;
    background-color: #087070;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.modal-inner-box .toggleSwitch input:checked ~ a {
    border-color: #fff;
    left: 100%;
    margin-left: -5px;
}

.modal-inner-box .modal-inner-box .toggleSwitch input:checked ~ span:before {
    border-color: #0097D1;
    box-shadow: inset 0 0 0 30px #0097D1;
}

.modal-inner-box .toggleSwitch input:checked ~ span span:first-of-type {
    opacity: 0;
}

.modal-inner-box .toggleSwitch input:checked ~ span span:last-of-type {
    opacity: 1;
    color: #f7cf30;
}

.modal-inner-box .toggleSwitch.xlarge {
    width: 78px;
    height: 36px;
}

.modal-inner-box .toggleSwitch.xlarge a {
    width: 62px;
    height: 62px;
}

.modal-inner-box .toggleSwitch.xlarge > span {
    height: 38px;
    line-height: 37px;
    font-size: 12px;
    font-weight: 700;
}

.modal-inner-box .toggleSwitch.xlarge input:checked ~ a {
    left: 69px;
}

.modal-inner-box .toggleSwitch.xlarge > span span {
    font-size: 20px;
}

.modal-inner-box .toggleSwitch.xlarge > span span:first-of-type {
    left: 50%;
}

.saund-icon img {
    width: 55px;
    float: left;
    margin-right: 15px;
}
.pdf-number{
        margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background: #038b87;
    border: 2px solid #01615e;
}

.check-box {
    width: 50%;
    float: right;
    padding-top: 8px;
}

.sound-text .text {
    font-weight: 700;
    font-size: 28px;
    line-height: 51px;
    color: #fff;
}
.settings-modal .model-content ul li{
    color: #fff;
    margin: 24px 0;
    list-style: none;
    position: relative;
}
.settings-modal .model-content ul li:nth-last-child(1){
    margin-bottom: 0;
}
.settings-modal .model-content ul li:after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 7px;
    left: -20px;
    border-radius: 50%;
    background: #f7d131;
}
.settings-modal .model-content ul{
    padding-left: 46px;
}
.settings-modal .model-content ul li::marker{
    color: #f7d131;
    font-size: 28px;
    line-height: 0;
}
.modal-play-box {
    padding: 10px;
    border: 12px solid #019f9e;
    width: 96%;
    margin-left: 2%;
    background: #019f9e;
    margin-bottom: 10px;
    border-radius: 30px;
}
.sound-box {
    width: 100%;
    height: auto;
}
.raund-modal .modal-dialog .modal-content {
    background: #097575;
    border: 0px;
    border-radius: 30px;
    border:2px solid #fff;
}
#raunds-row-modals .model-content,
#raund-modalsss .model-content,
#raund-modalsse .model-content,
#raund-modalss .model-content{
    background: #03abaa;
    border-radius: 35px;
    padding: 15px;
    margin-bottom:6px;
    position: relative;
    z-index: 0;
}
/* #raunds-row-modals .model-content::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -6px;
    left: 0;
    border-radius: 35px;
    z-index: -2;
} */
#raund-modalsss .model-content::before,
#raund-modalsse .model-content::before,
#raund-modalss .model-content::before,
#raunds-row-modals .model-content::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 6px;
    left: 0;
    border-radius: 35px;
    z-index: -1;
    background: #019f9e;
}
.raund-modal h3 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #055d5d;
    -webkit-text-fill-color: #fff;
    color: #055d5d;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    padding:22px 0 11px;
}
.raund-modal .modal-dialog {
    max-width: 480px;
}

#raund-modalss.raund-modal .modal-dialog {
    max-width: 400px !important;
}
#raund-modalsss .ineer-popup-content{
    word-break: break-word;
}
.ineer-popup-content {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 15px;
    color: #fff;
}

.ineer-popup-close-btn .btn {
    width: auto;
    padding: 0px;
    text-align: left;
    padding-bottom: 11px;
    font-size: 23px;
    margin-left: 53px;
    margin-right: 42px;
}


.ineer-popup-close-btn .btn:before {
    left: -34px;
}

.ineer-popup-close-btn {
    width: 100%;
    text-align: center;
    padding: 12px 0 10px;
}

.modal .btn {
    background-image: url(assets/images/center_green.png);
    font-size: 21px;
    padding: 8px 10px 10px;
        color: #6b3200;
    text-shadow: none;
}

.modal .btn:before {
    background-image: url(assets/images/left_green.png);
    left: -34px;

}

.modal .btn:after {
    background-image: url(assets/images/right_green.png);
    width: 42px;
    left: 100%;
    margin-left: -1px;
}


.video-page {
    padding: 50px 0px 60px;

}

.video-page .min-category-page h2 {
font-size: 32px;
    text-align: center;
    margin-bottom: 0px;
}

.cat-box-mian {
    width: 100%;
    border:2px solid #bbdb9e;
    padding: 15px 20px;
    min-height: 375px;
    background: #076564;
    -webkit-box-shadow: inset -1px -5px 74px -11px rgb(56 56 56);
    -moz-box-shadow: inset -1px -5px 74px -11px rgba(56, 56, 56, 1);
    box-shadow: inset -1px -5px 74px -11px rgb(56 56 56);
    height: 100%;
}

.cat-box-block {
    position: relative;
    width: 100%;
    height: auto;
    background: #00bbba;
    box-shadow: inset -1px -5px 74px -11px rgb(56 56 56);
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 3px solid #fff;
}

.cat-box-block .sub-block,
.cat-box-block h3{
    position: relative;
    z-index: 1;
}
.cat-box-block .cat-btn{
    text-align: center;
}
.cat-box-block a {
    color: #fff;
    text-decoration: none;
}

.cat-box-block h3 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}
.des-text{
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cat-box-block .sub-block {
    font-size: 16px;
    color: #310405;
    font-weight: 600;
}

.share-btn {
    width: 200px;
}
.cat-box-block-inner{
    padding: 4px 0;
    text-transform: capitalize;
    
}
.cat-box-right {
    position: relative;
    width: 100%;
    height: auto;
    background: #00bbba;
    box-shadow: inset -1px -5px 74px -11px rgb(56 56 56);
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    border:3px solid #fff;
}

.cat-box-right a {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 26px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    align-items: center;
    cursor: pointer;
}
.cat-box-right .right-btnn {
    flex: 1 0 0%;
    padding-left: 6px;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 26px;
}
.cat-box-mian.cat-right {
    padding-bottom: 0px;
}
.pdfViewer.removePageBorders .page{
    margin-bottom: 0 !important;
}
.right-category {
    float: right;
}
.category-topic {
    font-size: 24px;
}
.category-full-video {
    width: 100%;
    height: auto;
    min-height: 375px;
    background: #000;
    border: 2px solid #bbdb9e;
}
.border-box select:focus{
    outline: none;
}
.border-box select{
    appearance: none;
    padding:0px 10px !important;
}
.border-box a{
    background: #015855;
    border-radius: 25px;
    border: 2px solid #000;
    padding: 0 18px;
    line-height: 42px;
    color: #bbdb9e !important;
    box-shadow: inset 0px 0px 4px rgb(0 0 0 / 40%);
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}
.border-box select{
    background: #015855;    
    border-radius: 25px;
    border: 2px solid #000;
    padding: 0 18px;
    line-height: 42px;
    color: #bbdb9e !important;
    box-shadow: inset 0px 0px 4px rgb(0 0 0 / 40%);
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show{
    border-color: transparent !important;
    color: inherit !important;
    background-color: inherit !important;
}
.border-box select option:hover{
    box-shadow: 0 0 10px 100px #000 inset;
}
.border-box select:focus option:checked {
  background: transparent linear-gradient(0deg, red 0%, red 100%);
    color: #f0c32c;
}

#galleries-list .content {
    width: 100px;
    height: 100px;
    text-align: center;
    background: lightgrey;
    padding: 4% 0;
    padding: 10% 0;
    margin: auto;
    box-sizing: border-box;
    font-size: 40px;
}
.owl-theme .owl-nav [class*=owl-]:hover,
.owl-theme .owl-nav [class*=owl-]{
    background: transparent;
}
#galleries-list ul {
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#galleries-list ul li {
    position: relative;
    left: 0px;
    float: left;
    width: 25%;
    text-align: center;
    margin: 0px;
    padding: 0px 15px;
    transition: left .75s ease-out;
}

#galleries-list .slider-nav {
    position: relative;
    float: left;
    width: 100%;

}


#galleries-list .slide-left,
#galleries-list .slide-right{
position: absolute;
    top: calc(50% - 55px);
    margin: 0;
    transform: translateY(-50%);
}

#galleries-list .slide-left {
   left: -50px;
}

#galleries-list .slide-right {
   right: -50px;
}

.owl-theme .owl-nav .disabled {
    display: none;
}

#galleries-list .slide-left img,
#galleries-list .slide-right img {
    width: 30px !important;
}

#galleries-list .slide-left,
#galleries-list .slide-right {
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
									not supported by any browser */
}

#galleries-list .slide-left:hover,
#galleries-list .slide-right:hover {
    font-weight: 700;
}

.product-video-box {
    padding: 36px 0px 0px;
}

#galleries-list a:hover{
    color: inherit;
}
.product-video-box .thumbnail-box img{
    border: 2px solid #fff;
    height: 210px;
    object-fit: cover !important;
}

.thumbnail-title {
    width: 100%;
    padding: 6px 0 0;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}

.sub-title-1 {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #015855;
    width: auto;
    text-transform: capitalize;
}

.sub-title-2 {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: #015855;
    width: auto;
    text-transform: capitalize;
    line-height: 21px;
}

.slide-right {
    float: right;
}

.slide-left {
    float: left;
}

.list-a1 {
    width: 99% !important;
    overflow: hidden;
}

.video-list .sub-menu {
    font-size: 28px;
    font-weight: 600;
}

.sub-title-2 span {
    float: right;
 
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
}


.popup-input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid #015855;
    margin-bottom: 15px;
}


.modal-body3 {
    background: #019f9e;
    width: 92%;
    margin-left: 4%;
    margin-bottom: 20px;
    border-radius: 30px !important;
    padding: 15px;
}

button.accordion {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s linear;
    background: transparent;
    padding: 0px 0px 5px;
    color: #fff;
    font-weight: 800;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    color: #013e3c;
    font-weight: 800;
}

.accordion-block {
    padding-bottom: 10px;
}

.accordion-content p {
    margin-bottom: 0px !important;
}

.thumbnail-box img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.topic-lists .col-md-12:nth-child(2) .border-bottom2,
.topic-lists .col-md-12:nth-child(1) .border-bottom1{
    padding-top: 0;
}
.topic-lists .col-md-12:nth-child(1) .border-bottom1:after{
    border-top: 0
}
.topic-lists .col-md-12:nth-child(2) .border-bottom2:after{
    border-top: 0
}
.topic-lists .border-bottom1{
    position: relative;
    padding-top:32px;
}
.topic-lists .border-bottom1:after{
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
    content: '';
    left: 0;
    border-top: 2px solid #bbdb9e;
    margin: auto;
    right: 0;
}

@media screen and (max-width: 1400px) {
 
    .pdf-btn button{
        width: 44px;
    }
    .pdf-btn button.previous {
        left:-46px;
    }
    .pdf-btn button.next {
        right: -46px;
    }    
    .right-text{
        width: 100%;
    }

    form.search-in input[type=text] {
        font-size: 14px;
        width: 80%;
    }

    form.search-in button {
        width: 20%;
    }

    .category {
        width: 100%;
    }


    .box-title {
        font-size: 14px;
        padding: 10px;

    }

    .row_one,
    .row_two {
        font-size: 14px;
        padding: 10px;
    }

    .footer-inner-text {
        font-size: 14px;
        line-height: 26px;
    }

    .scroller {
        height: 410px;
    }

    .row-one,
    .row-two {
        font-size: 14px;
    }

    .categoies-scroller.scroller {
        height: 252px;
    }

    .header-search, .right-user-id {
        width: 199px;
    }
    .header-categories {
        width: 325px;
    }
    .cat-box-block h3 {
        font-size:19px;
    }
}

.category-padding {
    margin-bottom: 15px;
}

.category-padding h2:after{
    position: absolute;
    bottom: 0;
    content: '';
    left: 0;
    width: 100%;
    height: 4px;
    display: block;
    z-index: 4;
    background: #015855;
    border-radius: 0 50px 50px 0;
}

.category-padding h2{
    margin: 0px;
    position: relative;
    padding-bottom:15px;
    margin-bottom:26px;
}

.footer-inner-text a {
    color: #fff;
    text-decoration: none;
    padding: 0 3px;
}

.footer-inner-text a:hover {
    color: #013e3c !important;
}

@media screen and (max-width:1200px) {

    .min-category-page .row-one .col-xl-3:nth-child(odd) a{
        color: #bbdb9e !important;
    }
    .min-category-page .row-one .col-xl-3  a{
        color: #fff !important;
    }

.header-search, .right-user-id,
.header-categories {
    width: 100%;
}

}


@media screen and (max-width:1118px) {

    #galleries-list .slide-left {
        margin-left: 0px;

    }

    #galleries-list .slide-right {
        margin-right: 0px;
    }

    #galleries-list .slide-left img,
    #galleries-list .slide-right img {
        width: 40px;
    }

    .list-a1 {
        width: 90% !important;
    }

    .thumbnail-title {
        font-size: 18px;
    }

    .sub-title-1,
    .sub-title-2 {
        font-size: 16px;
    }

}


@media screen and (max-width: 991px) {
    .min-category-page .row-one .col-xl-3:nth-child(odd) a{
        color: #fff !important;
    }
    .min-category-page .row-one .col-xl-3:nth-child(33) a,
    .min-category-page .row-one .col-xl-3:nth-child(29) a,
    .min-category-page .row-one .col-xl-3:nth-child(28) a,
    .min-category-page .row-one .col-xl-3:nth-child(24) a,
    .min-category-page .row-one .col-xl-3:nth-child(25) a,
    .min-category-page .row-one .col-xl-3:nth-child(21) a,
    .min-category-page .row-one .col-xl-3:nth-child(20) a,
    .min-category-page .row-one .col-xl-3:nth-child(17) a,
    .min-category-page .row-one .col-xl-3:nth-child(16) a,
    .min-category-page .row-one .col-xl-3:nth-child(13) a,
    .min-category-page .row-one .col-xl-3:nth-child(12) a,
    .min-category-page .row-one .col-xl-3:nth-child(9) a,
    .min-category-page .row-one .col-xl-3:nth-child(8) a,
    .min-category-page .row-one .col-xl-3:nth-child(5) a,
    .min-category-page .row-one .col-xl-3:nth-child(4) a,
    .min-category-page .row-one .col-xl-3:nth-child(1) a{
        color: #bbdb9e !important;
    }
    
    .header-categories {
        width: 100%;
    }
    .category {
        width: 100%;
    }

    .video-page .min-category-page h2 {
        font-size: 24px;
    }


    .cat-box-mian {
        padding: 10px;
    }

    .cat-box-right {
        padding: 5px 10px;
    }

    .share-btn {
        width: 160px;
    }

    .cat-box-mian,
    .category-full-video {
        min-height: 315px;
    }

    .list-a1 {
        width: 87% !important;
    }
    #galleries-list .slide-left img, #galleries-list .slide-right img {
        width:24px !important;
    }
    #galleries-list .slide-right {
        right: -30px;
    }
    #galleries-list .slide-left {
        left: -30px;
    }

    .border-box select option{
        font-size: 14px;
    }
    .cat_sort{
        width: 120px;
    }
    .border-box a {
        padding: 0 10px;
    }
}

@media screen and (max-width: 767px) {

    .header-categories {
        padding-top: 0px;
    }

    .middle-part {
        padding: 0px 10px;
    }

    .right-logo {
        padding: 50px 0px 20px;
    }

    .right-box {
        margin: 30px 0px;
    }

    .footer-inner-text {
        line-height: 24px;
        padding: 15px 10px;
    }

    header {
        padding:24px 0;
    }

    .min-category-page h2 {
        font-size: 22px;
    }

    .category-page .right-logo {
        padding-top: 0px;
    }

    .cat-box-mian {
        min-height: auto;
    }

    .category-full-video {
        min-height: auto;
    }

    .video-page .min-category-page h2 {
        font-size: 20px;
    }

    .min-category-page {
        margin:0px 0px 15px;
    }
    .cat-box-mian.cat-right{
        margin-bottom:36px;
        height: auto;
    }
    .list-a1 {
        width: 81% !important;
    }

    .middle-part.video-list {
        padding: 40px 0px;
    }
    .cat_sort{
        width: auto;
    }
}

@media screen and (max-width:480px) {

    .modal-play-box {
        border: 2px solid #c5b5fd;
    }

    .sound-box {
        padding: 20px 0px 20px;
    }


    .raund-modal h3 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        -webkit-text-fill-color: #6d5bf6;
        color: #6d5bf6;
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        padding: 15px 0px 20px;
    }

    .ineer-popup-content {
        font-size: 18px;
    }

    .raund-modal .modal-dialog {
        max-width: 330px;
    }

    .raund-modal .modal-dialog .modal-content {
        border: 2px solid #c4b5fe;
    }

    .raund-modal .modal-dialog {
        border: 2px solid #b396e2;
    }

    .right-logo {
        width: 100%;

    }

    .right-text {
        width: 100%;
    }

    .modal-dialog {
        max-width: 300px;
    }

    .popup-btn .btn {
        font-size: 16px;
        width: 235px;
        padding: 10px 0px;
        height: 50px;
        line-height: 19px;
        margin-bottom: 10px;
    }


    .check-box {
        width: 100%;
        float: left;
        padding-top: 28px;
    }

    .modal-inner-box .toggleSwitch.xlarge {
        margin: 0px;
    }

    .modal.show .modal-dialog {
        transform: none;
        margin: 25% auto;
    }

    .sound-text .text {
        font-size: 24px;
    }

    .modal.settings-modal .modal-header h4 {
        font-size: 24px;
    }

    .modal-inner-box.scroller {
        border: 2px solid #c5b5fd;
    }

    .right-btn {
        padding-left: 39px;
    }

    .list-a1 {
        width: 74% !important;
    }

    body {
        padding-bottom: 280px;
    }

    .user_icon {
        width: 43px;
        float: left;
    }
}

/*// animations  //************************/


.pulse {
    animation: pulse 1s ease-in-out infinite;
}

.flash {
    animation: flash 3s ease-in-out infinite;
}

.shake {
    animation: shake 0.4s ease-in-out;
}

.bounceInRight {
    animation: bounceInRight 1s ease-in-out;
}

.bounceInLeft {
    animation: bounceInLeft 1s ease-in-out;
}

.bounceInDown {
    animation: bounceInDown 2s ease-in-out;
}

.flipInX {
    animation: flipInX 1s ease-in-out;
}

.flipInY {
    animation: flipInY 1s ease-in-out;
}

.zoomInDown {
    animation: zoomInDown 1s ease-in-out;
}


.zoomInUp {
    animation: zoomInUp 1s ease-in-out;
}

.swing {
    animation: swing 2s ease-in-out infinite;
}

.slideInDown {
    animation: slideInDown 1s ease-in-out;
}

.zoomIn {
    animation: zoomIn 0.5s ease-in-out;
}

.bounceInUp {
    animation: bounceInUp 2s ease-in-out;
}

.bounce {
    animation: bounce 0.5s ease-in-out;
}

.jello {
    animation: jello 0.3s ease-in-out;
}


.flip {
    animation: flip 1s ease-in-out;
}