<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-inner-text"> At KSA Training Ltd, we have a simple mission: "To make e-learning free,
                    fun, and inspirational". <br/> We are: MTL for slides; Snippizz for videos; Kwizzers for games; The
                    Soft Skills Quiz for quizzes; Build-a-Course for online courses; Biznizbooks for e-books <br/>
                    Copyright &copy; KSA Training Ltd {{currentYear}}. </div>
            </div>
        </div>
    </div>
</footer>