asl-google-signin-button{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.btn-social-media-box .gmail-login{
    font-size: 18px;
    text-decoration: none;
    border: 2px solid #EA4335;
    background: #BB001B;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    height: 50px;
    box-shadow: inset 0 0 4px #0006;
    width: 50px;
    text-align: center;
    line-height: 46px;
    display: block;
}

.right-user-id.top-user-btn{ display: flex;}
.btn-logout{    margin-left: 18px;
    margin-top: 7px;    width: 48px;
    height: 48px;}

    .user_name{ width: 230px;}

    .top-logout{
        position: relative;

    }
    .top-logout .toltip2 {
        position: absolute;
        top: -14px;
        color: #fff;
        margin-left: 21px;
        font-size: 12px;
        display: none;
    }
    .top-logout:hover .toltip2 {
          display: block;
    }