<section class="middle-part">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xxl-6 col-lg-6">
                <div class="right-logo">
                    <img src="assets/images/logo2.png" width="100%" alt="logo 2">
                </div>
                <div class="right-text mt-3"> “{{homeAllData.info?.subTitle}}” </div>
                <div class="right-btn p-0 text-center">
                    <div class="btn-1">
                        <a class="btn" href="" routerLink="/slide-listings/top20s">View Our Top 20 Slides</a>
                    </div>
                    <div class="btn-2">
                        <a class="btn" href=""  data-bs-toggle="modal" (click)="openModelData()" data-bs-target="#playModal">Site Settings</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mt-lg-0 mt-4">
                <div class="right-box ">
                    <div class="top-hadding">
                        <div class="box-title" id="homePageTextBoardHeading">{{homeAllData.info?.content}}</div>
                    </div>
                    <div class="overflow scroller">
                        <div id="homePageTextBoard" class="text-center">
                            <!-- <div class="row_one bounceInLeft"  *ngFor="let topCat of homeAllData.top_categories;let i = index"  
                            [ngClass]="i % 2 ? 'row_two bounceInRight' : 'row_one bounceInLeft'"><span class="cate-no">{{i+1}}.</span>{{topCat.content}}</div> -->
                            <div class="row_one bounceInLeft">202 One-Day Soft Skills Course Plans</div>
                            <div class="row_two bounceInRight">202 Course Topics</div>
                            <div class="row_one bounceInLeft">993 One-Minute Tips</div>
                            <div class="row_two bounceInRight">800 Soft Skills Course Exercises</div>
                            <div class="row_one bounceInLeft">500 Soft Skills Worksheets</div>
                            <div class="row_two bounceInRight">202 Self-assessment forms</div>
                            <div class="row_one bounceInLeft">202 Presentations in the Professional Development Programme</div>
                            <div class="row_two bounceInRight">200 Icebreaker exercises</div>
                            <div class="row_one bounceInLeft">40 Ready-to-use Teambuilder games</div>
                            <div class="row_two bounceInRight">350 Stories that Coach</div>
                            <div class="row_one bounceInLeft">... and Many More</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal settings-modal play-modal" id="playModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content ">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">SETTINGS </h4>
          <img data-bs-dismiss="modal" class="btn-close popup-close" (click)="openModelData()" src="assets/images/close-btn.png" width="40px" alt="close">
        </div>
        <div class="modal-body modal-inner-box modal-play-box">
          <div class="model-content">
            <div class="sound-box mt-4 mb-5">
              <div class="row align-items-center">
                  <div class="col-auto">
                    <div class="sound-text">
                      <span class="saund-icon">
                        <img src="assets/images/saund.png" width="100%" alt="logo 2">
                      </span>
                      <span class="text">Sound</span>
                    </div>
                  </div>
                  <div class="col-auto">
                    <label class="toggle-switch">
                      <input type="checkbox" id="checkkkd" [(ngModel)]="selected"  (click)="doAction($event)">
                      <div class="slider"> <div class="on-off-btn"></div></div>
                     
                    </label>
                    </div>
              </div>
              
             
            </div>
            <div class="popup-btn mb-4">
            <a class="btn" type="button" href="" data-bs-toggle="modal" (click)="openModelData()" data-bs-target="#settings">Privacy Policy</a>
            <a class="btn" type="button" href="" data-bs-toggle="modal" (click)="openModelData()" data-bs-target="#tmc">Terms and Conditions</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal settings-modal" id="settings">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">PRIVACY POLICY </h4>
          <img data-bs-dismiss="modal" class="btn-close popup-close" (click)="openModelData()" src="assets/images/close-btn.png" width="40px" alt="close">
        </div>
        <div class="modal-body modal-inner-box  scroller">
          <div class="model-title">
            <table>
              <tr>
                <th class="t-one">1</th>
                <th class="t-two">INTRODUCTION AND GENERAL TERMS</th>
              </tr>
            </table>
          </div>
          <div class="model-content">
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal settings-modal" id="tmc">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">TERMS & CONDITIONS</h4>
          <img data-bs-dismiss="modal" class="btn-close popup-close" (click)="openModelData()" src="assets/images/close-btn.png" width="40px" alt="close">
        </div>
        <div class="modal-body modal-inner-box  scroller">
          <div class="model-title">
            <table>
              <tr>
                <th class="t-one">1</th>
                <th class="t-two">INTRODUCTION AND GENERAL TERMS</th>
              </tr>
            </table>
          </div>
          <div class="model-content">
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>