.pdf-viewer { 
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
}
.pdf-viewer canvas{
  width: 100% !important;
}
.pdfViewer .page canvas{
    width: 100% !important;
}
.pdfViewer .page{
  margin-bottom: 0 !important;
}
