<section class="middle-part video-page">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-12">
        <div class="min-category-page zoomInDown">
          <h2>{{slideData.title }}</h2>
        </div>
      </div>

      <div class="col-xxl-3 col-xl-4 order-xl-1 order-3 mb-xl-0 mb-4">
        <div class="pe-xxl-0 pe-xl-4 pe-0">
          <div class="cat-box-mian bounceInLeft">
            <div class="cat-box-block">
              <div class="cat-box-block-inner">
                <h3>Category:</h3>
                <div class="sub-block">{{slideData.category}}</div>
              </div>
            </div>
            <div class="cat-box-block">
              <div class="cat-box-block-inner">
                <h3>Topic:</h3>
                <ng-template #tipContent1>{{slideData.topic}}</ng-template>
                <div class="sub-block" [ngbTooltip]="tipContent1">{{slideData.topic}}</div>
              </div>
            </div>
            <!-- <div class="cat-box-block">
                    <div class="cat-box-block-inner">
                      <h3>Total Downloads:</h3>
                      <div class="sub-block">{{slideData.download_count}}</div>
                    </div>
                  </div>   -->
            <div class="cat-box-block">
              <div class="cat-box-block-inner">
                <h3>Total Slides:</h3>
                <div class="sub-block">{{slideData.slide_count}}</div>
              </div>
            </div>
            <div class="cat-box-block mb-0">
              <div class="cat-box-block-inner description-tooltip">
                <h3>Description:</h3>
                <div class="sub-block1">
                  <ng-template #tipContent>{{slideData.description}}</ng-template>
                  <p class="des-text m-0" [ngbTooltip]="tipContent">{{slideData.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xxl-6 col-xl-4 order-1 order-xl-2 mb-xl-0 mb-4 mx-xxl-auto">
        <div id="youtube-videos" class="youtube-videos position-relative h-100" *ngIf="slideData.status">
          <div class="category-full-video h-100">
            <!-- {{imageSrc | json}} -->
            <div class="thumbnail-box">
              <img style="object-fit:fill;" src="{{imageSrc}}" height="250px"
              width="100%" alt="product-img">
          </div>
          </div>

          <!-- <nav *ngIf="isLoaded" class="pdf-btn p-0">
            <button (click)="prevPage()" [disabled]="page === 1" class="previous">
              <img src="assets/images/arrow-left.png">
            </button>
            <button (click)="nextPage()" [disabled]="page === totalPages" class="next">
              <img src="assets/images/arrow-right.png">
            </button>
          </nav> -->
        </div>
        <div style="display: none">
          <input type="text" id="ytbUrl" value="{{slideData.url}}"/>
          <input type="text" id="embedUrl" value="{{slideEmbed}}"/>
        </div>
      </div>



      <div class="col-xxl-3 col-xl-4  order-xl-3 order-4  right-category bounceInRight">
        <div class="ps-xxl-0 ps-xl-4 ps-0 h-100">
          <div class="cat-box-mian cat-right">

            <div class="row align-items-center h-100 g-0">
              <div class="col-12">
                <div class="cat-box-right">

                  <a href="" routerLink="/slide-listings/{{slideData.topic}}?topic">
                    <img src="assets/images/video_view_icon.png" alt="" />
                    <div class="right-btnn">View other topic slides</div>
                  </a>
                </div>
              </div>
              <div class="col-12">
                <div class="cat-box-right">

                  <a href="" data-bs-toggle="modal" data-bs-target="#raund-modalsss">
                    <img src="assets/images/copy_icon.png" alt="" />
                    <div class="right-btnn"> Copy Embed Code</div>
                  </a>
                </div>
              </div>

              <div class="col-12">
                <div class="cat-box-right">
                  <button [disabled]="socialEmail == false" (click)="downloadSlide(slideData.id)" data-bs-toggle="modal" data-bs-target="#raund-modalsse">
                  <img src="assets/images/download.png" alt="" />
                  <div class="right-btnn">Download this slide</div>
                  </button>
                </div>
              </div>
              <div class="col-12">
                <div class="cat-box-right">

                  <a href="" (click)="shareVideoCopytext(slideData.url)" data-bs-toggle="modal"
                    data-bs-target="#raund-modalss">
                    <img src="assets/images/share-btn.png" alt="" />
                    <div class="right-btnn">Share PowerPoint</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  

      
   
   
      <div class="col-lg-12 order-xl-4 order-2 mt-xl-4 mt-0 mb-xl-0 mb-4">
        <owl-carousel-o [options]="customOptionsthumb" class="bottom-list-slide">
          <ng-container  *ngFor="let slidesd of slideIdthumbd;let i = index">
            <ng-template class="slide" carouselSlide [id]="slidesd">
              <a (click)="afterLoadComplete($event, slidesd)">
                <div class="bottom-list"> 
                  <img src="{{slidesd}}" width="100%" alt="product-img">
              </div>
              </a>
        </ng-template>
        </ng-container>
        </owl-carousel-o>
    </div>
  </div>
  </div>

  <!----------------- Share PowerPoint PopUp---------------------------->

  <div class="modal raund-modal" id="raund-modalss">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-body modal-inner-box  ">
          <div class="model-content">
            <h3>Share PowerPoint</h3>
            <div class="ineer-popup-content">The link to this page has now been copied to your clipboard for you to
              share with others.</div>
            <div class="ineer-popup-close-btn">
              <button data-bs-dismiss="modal" class="btn">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!----------------- Share PowerPoint PopUp---------------------------->


  <!----------------- Copy Embedded code PopUp---------------------------->

  <div class="modal raund-modal" id="raund-modalsss">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-body modal-inner-box  ">
          <div class="model-content">
            <h3>Embed Code</h3>
            <div class="ineer-popup-content">
              {{slideEmbed}}
            </div>
            <div class="ineer-popup-close-btn">
              <button data-bs-dismiss="modal" class="btn" (click)="embedSlideCopytext(slideData.url)">Copy</button>
              <!-- <button data-bs-dismiss="modal" class="btn" >Copy</button> -->
              <button data-bs-dismiss="modal" class="btn btn-green">Cancel</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!----------------- Copy Embedded code PopUp---------------------------->


  <!----------------- Download PopUp---------------------------->
  <div class="modal raund-modal" id="raund-modalsse" *ngIf="slideData.download_count >= 0">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-body modal-inner-box  ">
          <div class="model-content">
            <h3>Download Slide</h3>
            <div *ngIf="socialEmail" class="ineer-popup-content">"{{showGuestUserName}}, you have now downloaded
              {{slideData.user_download_count}} of downloads already in the 24 hours since the first download slides
              today.
              You have {{downloadCountID}} downloads left in your 24-hour quota."</div>
              <div *ngIf="!socialEmail" class="ineer-popup-content">
                "{{guestUserWhenDownload}}, Please login with your social media account in order to download your slides."</div>
            <div class="ineer-popup-close-btn">
              <button data-bs-dismiss="modal" class="btn">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------- Download PopUp ------------------------->

</section>