<section class="middle-part category-page">
  <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class=" product-video-box" id="galleries-list">

        <div
          class="" *ngIf="
            showContent &&
            categoriesAllDataCategoryListing &&
            categoriesAllDataCategoryListing.topicDetails &&
            categoriesAllDataCategoryListing?.topicDetails?.length">
          <div class="category-padding zoomInDown">
            <h2>{{ categoriesAllDataCategoryListing.category_name }}</h2>
          </div>
        </div>

          <div *ngIf="
              showContent &&
              categoriesAllDataCategoryListing &&
              categoriesAllDataCategoryListing.topicDetails &&
              categoriesAllDataCategoryListing?.topicDetails?.length">
            <div class="wrapper">
              <div class="min-category-page">
              <div class="row">
                <div
                  class="col-auto"
                  (click)="showTopic(i)"
                  *ngFor="
                    let slide of categoriesAllDataCategoryListing.topicDetails;
                    let i = index">
                  <a [ngClass]="{'activea': showCurrentTopic === slide.topic_name}"
                  style="color: #fff">{{ slide.topic_name }} ({{ slide.total_slides }})
                  </a>
                </div>
              </div>
            </div>

              <div class="row">
                <div  class="col-md-12 mainAll" 
                  id="{{ i }}"
                  *ngFor="let slide of categoriesAllDataCategoryListing.topicDetails;
                    let i = index">
                  <span>
                    <div class="row justify-content-between align-items-center mb-3" *ngIf="slide.total_slides > 4">

                      <div class="col-auto">
                        <h2 class="category-topic m-0">
                          {{ showCurrentTopic }}
                        </h2>
                      </div>


                      <div class="col">

                        <div >

                          <div class="row justify-content-end mb-3">
                         
                            <div class="col-auto">
                              <form [formGroup]="form">
                                <div class="border-box border-border">
                                  <select
                                    name="languages"
                                    id="lang"
                                    (change)="onChanges($event, i)"
                                  >
                                    <option value="">Sort</option>
                                    <option value="viewss">
                                      Sort (by downloads)
                                    </option>
                                    <option value="atoz">
                                      Sort (A-Z title)
                                    </option>
                                  </select>
                                </div>
                              </form>
                            </div>
                            <div class="col-auto">
                              <div class="border-box">
                                <a
                                  target="_self"
                                  style="cursor: pointer"
                                  href=""
                                  routerLink="/slide-all/{{ slide.topic_name }}">
                                  >View All ({{ slide.total_slides }})</a>
                              </div>
                            </div>
                          </div>
                        </div>



                        
                      </div>
                    </div>

                    <div style="clear: both"></div>
                    <owl-carousel-o
                      [options]="customOptions"
                      *ngIf="slide.total_slides > 4"
                    >
                      <ng-container
                        class="col-xl-3 col-lg-4 col-md-6"
                        *ngFor="let slides of slide.slides"
                      >
                        <ng-template
                          class="slides"
                          carouselSlide
                          [id]="slides.id"
                        >
                          <a href="" routerLink="/slide/{{ slides.id }}">
                            <div class="thumbnail-box">
                              <img
                                style="object-fit: fill"
                                src="{{ slides.thumbnail }}"
                                height="250px"
                                width="100%"
                                alt="product-img"
                              />
                            </div>
                            <div class="thumbnail-title">
                              {{ slides.title | titlecase}}
                            </div>
                          </a>
                          <div class="sub-title-1">{{ slides.producer | titlecase}}</div>
                          <div class="sub-title-2">{{slides.slide_count}} slides <span> {{slides.download_count}} downloads</span></div> 

                        </ng-template>
                      </ng-container>
                    </owl-carousel-o>

                    <div *ngIf="slide.total_slides <= 4">

                      <div class="col-md-12" *ngIf="slide.total_slides == 0">
                        <h3 class="error-msg">No Records Found</h3>
                      </div>

                      <div class="row justify-content-between align-items-center mb-3">

                        <div class="col-auto">
                          <h2 class="category-topic m-0">
                            {{ showCurrentTopic }}
                          </h2>
                        </div>

                        
                        <div class="col">
                          <div class="border-box">
                            <a
                              target="_self"
                              style="cursor: pointer"
                              href=""
                              routerLink="/slide-all/{{ slide.topic_name }}">
                              View All ({{ slide.total_slides }})</a>
                          </div>
                   
                          
                          <form [formGroup]="form">
                            <div class="border-box border-border">
                              <select
                                name="languages"
                                id="lang"
                                (change)="onChanges($event, i)"
                              >
                                <option value="">Sort</option>
                                <option value="viewss">Sort (by downloads)</option>
                                <option value="atoz">Sort (A-Z title)</option>
                              </select>
                            </div>
                          </form>
                        </div>
                      </div>

                      <div class="row">
                      <div
                        class="col-xl-3 col-lg-4 col-md-6"
                        *ngFor="let slidess of slide.slides"
                        style="padding-bottom: 30px"
                      >
                        <a href="" routerLink="/slide/{{ slidess.id }}">
                          <div class="thumbnail-box">
                            <img style="object-fit: fill"
                              src="{{ slidess.thumbnail }}"
                              height="250px"
                              width="100%"
                              alt="product-img"
                            />
                          </div>
                          <div class="thumbnail-title">{{ slidess.title  | titlecase }}</div>
                        </a>
                        <div class="sub-title-1">{{ slidess.producer | titlecase}}</div>
                        <div class="sub-title-2">{{slidess.slide_count}} slides <span> {{slidess.download_count}} downloads</span></div> 

                      </div>
                    </div>

                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-md-12"
            *ngIf="categoriesAllDataCategoryListing.total_topics == 0">
            <h3 class="error-msg">No Matching Records Found</h3>
          </div>
      
      </div>
    </div>
    </div>
  </div>
  
</section>
