<section class="middle-part category-page">
  <span class="loader" *ngIf="loading"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pt-0 product-video-box" id="galleries-list">

          <div class="" *ngIf="
            showContent &&
            categoriesAllDataCategoryListing &&
            categoriesAllDataCategoryListing.topicDetails &&
            categoriesAllDataCategoryListing?.topicDetails?.length">
            <div class="category-padding zoomInDown mb-0">
              <h2>{{ categoriesAllDataCategoryListing.category_name | titlecase }}</h2>
            </div>
          </div>

          <div *ngIf="
              showContent &&
              categoriesAllDataCategoryListing &&
              categoriesAllDataCategoryListing.topicDetails &&
              categoriesAllDataCategoryListing?.topicDetails?.length">
            <div class="wrapper">

              <div class="row topic-lists">
                <div class="col-md-12 mainAll" [ngClass]="{'mainAll': !noData}" id="{{ i }}" *ngFor="let slide of categoriesAllDataCategoryListing.topicDetails;
                    let i = index">
                  <div>
                    <span>
                      <div class="row justify-content-between align-items-center mb-3 border-bottom1"
                        *ngIf="slide.total_slides > 4 && slide.total_slides > 0">

                        <div class="col-lg-auto col-md-7 col-12 col-lg-0 md-0" *ngIf="showCurrentTopic != ''">
                          <h2 class="category-topic m-0">
                            {{ slide.topic_name | titlecase }}
                          </h2>
                        </div>


                        <div class="col-lg-auto col-md-5 col-12">
                          <form class="d-inline-block me-3" [formGroup]="form">
                            <div class="border-box border-border">
                              <select class="cat_sort" name="languages" id="lang" (change)="onChanges($event, i)">
                                <option value="">Sort</option>
                                <option value="viewss">
                                  Sort (by downloads)
                                </option>
                                <option value="atoz">
                                  Sort (by A-Z title)
                                </option>
                              </select>
                            </div>
                          </form>


                          <div class="border-box d-inline-block">
                            <a target="_self" style="cursor: pointer" href=""
                              routerLink="/slide-all/{{ slide.topic_name }}?topic">
                              View All ({{ slide.total_slides }})</a>
                          </div>
                        </div>
                      </div>

                      <div style="clear: both"></div>
                      <owl-carousel-o [options]="customOptions" *ngIf="slide.total_slides > 4">
                        <ng-container class="col-xl-3 col-lg-4 col-md-6" *ngFor="let slides of slide.slides">
                          <ng-template class="slides" carouselSlide [id]="slides.id">
                            <a href="" class="d-block" routerLink="/slide/{{ slides.id }}">
                              <div class="thumbnail-box">
                                <img style="object-fit: fill" src="{{ slides.thumbnail }}" height="250px" width="100%"
                                  alt="product-img" />
                              </div>
                              <div class="thumbnail-title">
                                {{ slides.title }}
                              </div>
                            </a>

                            <div class="sub-title-1 text-white">{{ slides.producer | titlecase}}</div>

                            <div class="row justify-content-between">

                              <div class="col-auto">
                                <div class="sub-title-1">{{slides.slide_count}} slides</div>
                              </div>

                              <div class="col-auto">
                                <div class="sub-title-2"> <span> {{slides.download_count}} downloads</span></div>
                              </div>
                            </div>
                          </ng-template>
                        </ng-container>
                      </owl-carousel-o>

                      <div *ngIf="slide.total_slides <= 4 && slide.slides?.length">
                        <div class="row justify-content-between align-items-center mb-3 border-bottom1 border-bottom2"
                          *ngIf="slide.total_slides <= 4 && slide.total_slides > 0">

                          <div class="col-lg-auto col-md-7 col-12 col-lg-0 md-0" *ngIf="showCurrentTopic != ''">
                            <h2 class="category-topic m-0">
                              <!-- {{ showCurrentTopic }} -->
                              {{ slide.topic_name | titlecase }}
                            </h2>
                          </div>


                          <div class="col-lg-auto col-md-5 col-12">
                            <form class="d-inline-block me-3" [formGroup]="form">
                              <div class="border-box border-border">
                                <select class="cat_sort" name="languages" id="lang" (change)="onChanges($event, i)">
                                  <option value="">Sort</option>
                                  <option value="viewss">Sort (by downloads)</option>
                                  <option value="atoz">Sort (by A-Z title)</option>
                                </select>
                              </div>

                            </form>
                            <div class="border-box d-inline-block">
                              <a target="_self" style="cursor: pointer" href=""
                                routerLink="/slide-all/{{ slide.topic_name }}?topic">
                                View All ({{ slide.total_slides }})</a>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let slidess of slide.slides"
                            style="padding-bottom: 30px">
                            <a href="" routerLink="/slide/{{ slidess.id }}">
                              <div class="thumbnail-box">
                                <img style="object-fit: fill" src="{{ slidess.thumbnail }}" height="250px" width="100%"
                                  alt="product-img" />
                              </div>
                              <div class="thumbnail-title">{{ slidess.title }}</div>
                            </a>
                            <div class="sub-title-1 text-white">{{ slidess.producer | titlecase}}</div>
                            <div class="row justify-content-between">

                              <div class="col-auto">
                                <div class="sub-title-1">{{slidess.slide_count}} slides</div>
                              </div>

                              <div class="col-auto">
                                <div class="sub-title-2"> <span> {{slidess.download_count}} downloads</span></div>
                              </div>
                            </div>

                          </div>
                        </div>

                      </div>
                    </span>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12" *ngIf="noData  && !loading">
            <h3 class="error-msg">No Matching Record Found</h3>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>